<!DOCTYPE html>
<html>

<head>
    <title>Authors Haven</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='shortcut icon' type='image/x-icon' href='static/images/favicon.ico' />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel="stylesheet" href="static/css/styles.css">
</head>

<body>
    <header>
        <nav>
            <div class="nav-wrapper blue accent-4">
                <div class="container">
                    <a href="#" class="brand-logo">
                        <div class="logoimage">
                            <img class="logoimage" src="static/images/logo.png" alt="App logo">
                        </div>
                    </a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li>
                            <a href="#"> Johnah Karim </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="material-icons">exit_to_app</i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="row">
            <div>
                <h4 class="blue-text">Read the latest articles...</h4>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6">
                <div class="card grey lighten-4">
                    <div class="card-content">
                        <span class="card-title text-red">
                            <div class="article-header">
                                <h4 class="blue-text">Train your Dragon</h4>
                                <div class="ratings">
                                    <i class="material-icons icon-orange">star</i>
                                    <i class="material-icons icon-orange">star</i>
                                    <i class="material-icons icon-orange">star</i>
                                    <i class="material-icons icon-orange">star</i>
                                    <i class="material-icons icon-orange">star_half</i>
                                    <div class="stat">4.8</div>
                                </div>
                            </div>
                            <h6>
                                <i>Wanna know how not to get devoured?</i>
                            </h6>
                        </span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud...</p>
                        <hr>
                        <small>By James Pink, 01/08/2018 08:12am</small>
                    </div>

                    <div class="card-action">
                        <button class="btn waves-effect waves-light blue-grey">
                            <i class="material-icons">share</i>
                        </button>
                        <button class="btn waves-effect waves-light blue-grey">
                            <i class="material-icons">thumb_up</i>
                            <span>392</span>
                        </button>
                        <button class="btn waves-effect waves-light blue-grey">
                            <i class="material-icons">thumb_down</i>
                            <span>59</span>
                        </button>
                        <a class="right blue-grey-text" href="http://www.tutorialspoint.com">
                            Read more...</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="card grey lighten-4">
                    <div class="card-content">
                        <span class="card-title">
                            <div class="article-header">
                                <h4 class="blue-text">The Perfect Mess</h4>
                                <div class="ratings">
                                    <i class="material-icons icon-orange">star</i>
                                    <i class="material-icons icon-orange">star</i>
                                    <i class="material-icons icon-orange">star</i>
                                    <i class="material-icons icon-orange">star</i>
                                    <i class="material-icons icon-orange">star_half</i>
                                    <div class="stat">4.6</div>
                                </div>
                            </div>
                            <h6>
                                <i>Your code lives on</i>
                            </h6>
                        </span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud...</p>
                        <hr>
                        <small>By Lucy Kabambe, 01/08/2018 08:30am</small>
                    </div>

                    <div class="card-action">
                        <button class="btn waves-effect waves-light blue-grey">
                            <i class="material-icons">share</i>
                        </button>
                        <button class="btn waves-effect waves-light blue-grey">
                            <i class="material-icons">thumb_up</i>
                            <span>39</span>
                        </button>
                        <button class="btn waves-effect waves-light blue-grey">
                            <i class="material-icons">thumb_down</i>
                            <span>5</span>
                        </button>
                        <a class="right blue-grey-text" href="http://www.tutorialspoint.com">
                            Read more...</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6">
                <div class="card grey lighten-4">
                    <div class="card-content">
                        <span class="card-title">
                            <div class="article-header">
                                <h4 class="blue-text">My Journey Through Coding</h4>
                                <div class="ratings">
                                    <i class="material-icons icon-orange">star</i>
                                    <i class="material-icons icon-orange">star</i>
                                    <i class="material-icons icon-orange">star</i>
                                    <i class="material-icons icon-orange">star_border</i>
                                    <i class="material-icons icon-orange">star_border</i>
                                    <div class="stat">3.2</div>
                                </div>
                            </div>
                            <h6>
                                <i>Grab a cup of coffee and read on</i>
                            </h6>
                        </span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud...</p>
                        <hr>
                        <small>By Patrick Mursik, 01/08/2018 09:18am</small>
                    </div>

                    <div class="card-action">
                        <button class="btn waves-effect waves-light blue-grey">
                            <i class="material-icons">share</i>
                        </button>
                        <button class="btn waves-effect waves-light blue-grey">
                            <i class="material-icons">thumb_up</i>
                            <span>77</span>
                        </button>
                        <button class="btn waves-effect waves-light blue-grey">
                            <i class="material-icons">thumb_down</i>
                            <span>19</span>
                        </button>
                        <a class="right blue-grey-text" href="http://www.tutorialspoint.com">
                            Read more...</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="card grey lighten-4">
                    <div class="card-content">
                        <span class="card-title">
                            <div class="article-header">
                                <h4 class="blue-text">Django Rest Framework</h4>
                                <div class="ratings">
                                    <i class="material-icons icon-orange">star</i>
                                    <i class="material-icons icon-orange">star</i>
                                    <i class="material-icons icon-orange">star</i>
                                    <i class="material-icons icon-orange">star_half</i>
                                    <i class="material-icons icon-orange">star_border</i>
                                    <div class="stat">3.5</div>
                                </div>
                            </div>
                            <h6>
                                <i>Is it the best thing to happen to Python programming?</i>
                            </h6>
                        </span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud...</p>
                        <hr>
                        <small>By Lucky Hale, 01/08/2018 09:30am</small>
                    </div>

                    <div class="card-action">
                        <button class="btn waves-effect waves-light blue-grey">
                            <i class="material-icons">share</i>
                        </button>
                        <button class="btn waves-effect waves-light blue-grey">
                            <i class="material-icons">thumb_up</i>
                            <span>11</span>
                        </button>
                        <button class="btn waves-effect waves-light blue-grey">
                            <i class="material-icons">thumb_down</i>
                            <span>1</span>
                        </button>
                        <a class="right blue-grey-text" href="http://www.tutorialspoint.com">
                            Read more...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large waves-effect waves-light green">
            <i class="material-icons">add</i>
        </a>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</body>

</html>
