<!DOCTYPE html>
<html>

<head>
    <title>Authors Haven</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='shortcut icon' type='image/x-icon' href='static/images/favicon.ico' />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel="stylesheet" href="static/css/styles.css">
</head>

<body>
    <header>
        <nav>
            <div class="nav-wrapper blue accent-4">
                <div class="container">
                    <a href="#" class="brand-logo">
                        <div class="logoimage">
                            <img class="logoimage" src="static/images/logo.png" alt="App logo">
                        </div>
                    </a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li>
                            <a href="#"> Johnah Karim </a>
                        </li>
                        <li>
                            <a href="#"><i class="material-icons">exit_to_app</i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="row">
            <div>
                <h4 class="blue-text">The Perfect Mess</h4>
                <h6><i>By Johnah Karim, 01/08/2018 08:30am</i></h6>
            </div>
        </div>
        <div class="row">
            <div class = "col s12 m12">
               <div class = "card-content">
                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                       tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                       veniam, quis nostrud quis nostrud exercitation ullamco laboris nisi ut
                       aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                       in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                       sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                       mollit anim id est laborum.</p>
                   <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                       doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                       veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
                       ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                       consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque
                       porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                       adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
                       dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum
                       ]exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi
                       consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit
                       esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo
                       voluptas nulla pariatur.</p>
                   <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                       praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
                       excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia
                       deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis
                       est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio
                       cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas
                       assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis
                       aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non
                       recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis
                       voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
                <button class = "btn waves-effect waves-light blue-grey">
                    <i class = "material-icons">share</i>
                </button>
               </div>
                <div class = "col s12 m12">
                <div class = " lighten-4">
                   <div class = "card-content">
                      <span class = "card-title">
                          <h5>Comments:</h5>
                      </span>
                       <p><strong>Humlet (01/08/2018 09:45am):</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                           tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                           veniam, quis nostrud...</p>
                       <button class = "btn waves-effect waves-light blue-grey">
                           <i class = "material-icons">favorite</i>
                       </button>
                       <hr>
                       <p><strong>Budha12434424 (01/08/2018 08:45am):</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                           tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                           veniam, quis nostrud...</p>
                       <button class = "btn waves-effect waves-light blue-grey">
                           <i class = "material-icons">favorite</i>
                       </button>
                   </div>


                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large waves-effect waves-light green"><i class="material-icons">edit</i></a>
    </div>
    <footer class="page-footer blue accent-4">
        <div class="footer-copyright">
            <div class="container">
                © 2018 Created with Love by team titans.
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</body>

</html>
