<!DOCTYPE html>
<html>

<head>
    <title>Signup</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='shortcut icon' type='image/x-icon' href='static/images/favicon.ico' />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel="stylesheet" href="static/css/styles.css">
</head>

<body>
    <div class="container">
        <div class="card-panel clear">
            <div>
            <h4 class="blue-text">Sign up</h4>
            </div>
            <div class="row">
                <form class="col s12">
                    <div row>
                        <div class="input-field col s6">
                            <input type="text" name="lname" id="lname" class="validate" required="required">
                            <label for="lname">Username:</label>
                        </div>
                        <div class="input-field col s6">
                            <input type="email" name="email" id="email" class="validate" required="required">
                            <label for="email">Email:</label>
                        </div>
                        <div class="input-field col s6">
                            <input type="password" name="password" id="password" class="validate" required="required">
                            <label for="password">Password:</label>
                        </div>
                        <div class="input-field col s6">
                            <input type="password" name="repassword" id="repassword" class="validate" required="required">
                            <label for="repassword">Retype Password:</label>
                        </div>
                        <div class="col s6">
                            <button class="btn waves-effect light-waves blue" type="submit" name="signup">Sign up</button>
                        </div>
                        <div class="col s6">
                            <p>Have an Account?
                                <a href="login.html">Login</a>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</body>

</html>
